.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em 0;
    margin-top: auto;
    border-top: 1px solid var(--surface);
    color: var(--on-background);

    p {
        font-size: .8rem;
        font-weight: 400;
        margin: 0.2em auto;
    }

    p:first-child {
        font-size: 1rem;
        font-weight: 500;
    }
}
