.context-menu {
    background-color: var(--context-menu-surface);
    color: var(--context-menu-text);
    width: 102%;
    height: 102%;
    min-width: 102;
    margin: 0;
    padding: 1em;
    font-size: 2rem;
    position: fixed;
    display: none;
    z-index: 100;

    .context-menu__watchlists {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .context-menu__list {
            display: flex;
            gap: .4em;
            align-items: center;
            border-radius: 5px;
            padding: .4em .5em;

            & * {
                pointer-events: none;
            }

            &:hover {
                background-color: var(--context-menu-hover);
            }

            &:active {
                filter: brightness(.9)
            }

            i {
                font-size: 2.6rem;
            }
        }
    }

    .context-menu__close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        color: var(--text-lighter);
        font-size: 2.4rem;
        cursor: pointer;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }

        &:active {
            transform: scale(0.95);
        }
    }

    @media (min-width: 500px) {

        .context-menu__watchlists {
            
            .context-menu__list {
                padding: .8em .5em;

                i {
                    font-size: 1.4rem;
                }
            }
        }
        & {
            position: absolute;
            width: auto;
            height: auto;
            min-width: 200px;
            padding: .4em;
            font-size: .9rem;
            border-radius: 5px;
        }

        .context-menu__close-btn {
            display: none;
        }
    }
}

.block {
    display: block;
}