.page__header {
    .header__new-watchlist-input {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: .7em;

        .new-watchlist__btn {
            color: var(--txt-light);
            background-color: var(--primary);
            border-radius: var(--br);
            padding: .4em;
            line-height: 0;
    
            &:hover {
                background-color: var(--primary-darker);
            }
        }
    
        .new-watchlist__input {
            width: 100%;
            border: 1px solid var(--ui-black-10);
            border-radius: 7px;
            font-size: .9rem;
            font-weight: 500;
            padding: .5em;
    
            &:focus {
                outline: none;
            }
        }

        .warning {
            border: 1px solid red;
        }
    }

    label {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
    }

    @media (min-width: 640px) {
        .header__new-watchlist-input {
            .new-watchlist__input {
                width: 310px;
            }
        }
    }
}

.page__section {
    .watchlists__list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2em;
        padding: 1em;

        .watchlist__item {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: .8em;
            border: 1px solid transparent;
            border-radius: var(--br);
            padding: 1em;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;

            & * {
                pointer-events: none;
            } 

            &:hover {
                border-color: var(--ui-black-20);
            }

            &:active {
                border-color: var(--ui-black-40);
            }

            &:has(#remove-list-btn:active) {
                border-color: var(--ui-black-20);
            }

            .item__title {
                font-weight: 500;
                line-height: 1;
                
                a {
                    color: black;
                    text-decoration: none;

                    &:visited {
                        color: black;
                    }
                }
            }

            .item__link {
                text-decoration: none;
            }

            .item__details {
                display: flex;
                gap: 1em;
                font-size: .8rem;
                font-weight: 600;
            }

            .item__btn-remove {
                opacity: .35;
                pointer-events: all;
                position: absolute;
                top: 8px;
                right: 8px;
                display: none;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }

                &:active {
                    opacity: 1;
                    transform: scale(0.9);
                }

                & * {
                    pointer-events: none;
                }
            }

            &:hover > .item__btn-remove {
                display: block;
            }

            .item__progbar {
                background-color: lightgrey;
                width: 100%;
                height: 5px;
                border-radius: 3px;
            }

            .item__progbar-prog {
                background-color: green;
                width: 0%;
                height: 5px;
                border-radius: 3px;
            }
        }
    }
}