@import '../pages/signup.css';
@import '../pages/mylists.css';
@import '../pages/list.css';
@import '../pages/findmovies.css';

.page__header {
    padding: .7em 1em;
    border-bottom: 1px solid var(--ui-black-10);
}

.page__results {

    .movie__list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 2em;
        padding: 1em;
    }

    .movie__card {
        display: flex;
        height: 180px;
        overflow: hidden;
        gap: 1em;

        .movie__info,
        .movie__header,
        .movie__details,
        .movie__buttons {
            display: flex;
        }

        .movie__thumbnail {
            height: 180px;
            width: 120px;
            border-radius: 7px;
        }

        .movie__header {
            width: 100%;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 1em;

            h3 {
                font-size: 1.125rem;
                font-family: Inter, sans-serif;
                font-weight: 500;
                line-height: 1.2;
            }

            p {
                display: flex;
                align-items: center;
                gap: .4em;
                min-width: fit-content;

                span {
                    padding-top: .1em;
                }
            }
        }

        .movie__info {
            display: flex;
            flex-direction: column;
            gap: .7em;
            font-size: .75rem;            
        }

        .movie__details {
            gap: 2em;
        }

        .movie__star {
            display: block;
            width: 18px;
            aspect-ratio: 1/1;
        }

        .movie__plot {
            color: var(--ui-black-60);
            font-size: .875rem;
            font-weight: 400;
            width: 100%;
            max-height: 80px;
        }

        .movie__btns {
            display: flex;
            gap: .7em;
            margin-top: auto;
        }

        .movie__btn {
            display: flex;
            align-items: center;
            color: var(--txt-dark);
            font-size: .8rem;
            font-weight: 400;
            cursor: pointer;
            border-radius: 5px;
            padding: 0 .5em 0 .2em;
            text-decoration: none;
            
            span {
                display: block;
            }

            &:hover {
                color: var(--primary);
            }

            &:active {
                transform: scale(0.95);
            }

            i {
                font-size: 1.5rem;
            }
        }

        .movie__btn-a {
            gap: .5em;
            /* gap: 1em; */
            /* border: 1px solid black; */

            i {
                font-size: 1.1rem;
                font-weight: 600;
            }
        }
    
        .movie__add-btn--active {
            color: var(--primary);
        }

        .movie__btn--active {
            background-color: var(--ui-black-10);
        }
    }
}