@import '/pages/home.css';
@import '/pages/signup.css';
@import '/pages/signin.css';
@import '/pages/mylists.css';
@import '/pages/list.css';
@import '/pages/findmovies.css';

.page__header {
  padding: 0.7em 1em;
  border-bottom: 1px solid var(--surface);
}

.main {
  .page__container {
    margin: 3em auto 0 auto;
  }

  .page__container-large {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
  }

  .page__container-small {
    max-width: 450px;
    padding: 0 1em;
  }

  h1 {
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.3;
  }

  @media (min-width: 640px) {
    .page__container-small {
      padding: 0;
    }
  }
}

.page__results {
  .movie__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 2em;
    padding: 1em;
  }

  .movie__card {
    border-radius: var(--br);
    max-width: 100%;
    position: relative;
    display: flex;
    height: 180px;
    overflow: hidden;
    gap: 1em;

    .movie__info,
    .movie__header,
    .movie__details,
    .movie__buttons {
      display: flex;
    }

    .movie__thumbnail {
      height: 180px;
      width: 120px;
      border-radius: 7px;
      border: 1px solid var(--surface-highlight);
    }

    .movie__info {
      color: var(--on-background);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.7em;
      font-size: 0.7rem;
      padding: 0.4em 0;
    }

    .movie__header {
      width: 100%;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 0.7em;

      h3 {
        font-size: 1.125rem;
        font-family: Inter, sans-serif;
        font-weight: 500;
        line-height: 1.2;
      }

      .movie__star {
        display: block;
        width: 16px;
        aspect-ratio: 1/1;
      }

      p {
        display: flex;
        align-items: center;
        gap: 0.3em;
        min-width: fit-content;

        span {
          padding-top: 0.1em;
        }
      }
    }

    .movie__details {
      gap: 1em;
    }

    .movie__plot {
      font-size: 0.875rem;
      font-weight: 400;
      filter: brightness(0.8);
      width: 100%;
    }

    .movie__btns {
      display: flex;
      align-items: end;
      padding-bottom: 0.2em;
    }

    .movie__btn {
      display: flex;
      align-items: center;
      color: var(--on-background);
      font-size: 0.8rem;
      font-weight: 400;
      cursor: pointer;
      border-radius: 5px;
      padding: 0 0.5em 0 0.2em;
      text-decoration: none;

      span {
        display: block;
      }

      &:hover {
        color: var(--primary);
      }

      &:active {
        transform: scale(0.95);
      }

      &:focus {
        color: var(--primary);
        outline: none;
      }

      i {
        font-size: 1.5rem;
        /* padding: .3em; */
      }
    }

    .movie__btn-watched {
      &:hover {
        color: var(--secondary);
      }

      &:focus {
        color: var(--secondary);
      }
    }

    .movie__btn-a {
      i {
        font-size: 1.1rem;
        font-weight: 600;
        padding: 0.2em;
      }
    }

    .movie__btn-imdb {
      span {
        letter-spacing: 0.3;
        font-size: 0.7rem;
        background-color: #b89000;
        color: var(--on-primary);
        border-radius: 4px;
        padding: 0.1em 0.4em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }

      &:hover {
        filter: brightness(1.4);

        i {
          color: #b89000;
        }
      }

      &:focus {
        filter: brightness(1.4);

        i {
          color: #b89000;
        }
      }
    }

    .movie__add-btn {
      gap: 0.4em;
    }

    .movie__add-btn--active {
      color: var(--primary);
    }

    .movie__btn--active {
      background-color: var(--surface);
      color: var(--secondary);
    }
  }

  .movie__card--dimmed {
    & * {
      opacity: 0.4;
    }
  }

  @media (min-width: 736px) {
    .movie__list {
      grid-template-columns: repeat(auto-fit, minmax(368px, 1fr));
    }
  }

  @media (min-width: 960px) {
    .movie__list {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
  }
}

.page__results--dimmed {
  opacity: 0.15;
}

.page__empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 50%;
  height: 100px;
  font-size: 1.5rem;
  opacity: 0.3;
  /* margin: auto; */

  p {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.dimmed {
  & * {
    opacity: 0.4;
  }
}
