@import './reset.css';
@import './theme.css';
@import './components.css';
@import '../components/listmenu.css';
@import '../pages/signup.css';
@import '../pages/mylists.css';


html {
  font-family: Inter, sans-serif;
}

#app {
  background-color: ;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 320px; 
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.main {
  flex-grow: 1;
}
