@import './reset.css';
@import './theme.css';
@import './components.css';
@import '../components/listmenu.css';
@import '../components/modal.css';
@import '../pages/pagesglobal.css';

html {
  font-family: Inter, sans-serif;
}

button * {
  pointer-events: none;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}

#app {
  background-color: transparent;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 320px; 
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.main {
  flex-grow: 1;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}