*, *::before, *::after {
    box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

html {
  font-family: Inter, sans-serif;
}

button *, a * {
  pointer-events: none;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 0;
}

#app {
  background-color: transparent;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 320px; 
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.main {
  flex-grow: 1;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}