:root {
    --primary-lighter: #2989ff;
    --primary: #0275FF;
    --primary-darker: #006aeb;
    --primary-darkest: #003f8b;
    --secondary: #011936;
    --txt-light: #FFFFFF;
    --txt-dark: #272932;
    --btn-hover: #00000011;
    --btn-active: #00000020;
    --br: 7px;
    --ui-black-10: #00000020;
    --ui-black-20: #00000032;
    --ui-black-40: #00000068;
    --ui-black-60: #00000099;
    --spinner-main: #FFFFFF66;
    --context-menu-surface: #282828;
    --context-menu-text: #EAE9E9;
    --context-menu-hover: #3E3D3D;
    --context-menu-active: #323131;
}