:root {
  --background: #121212;
  --surface: #1e1e1e;
  --primary: #af85ff;
  --secondary: #7dcfb6;
  --on-background: #d7d7d7;
  --on-surface: #e2e2e2;
  --on-primary: #0e0915;
  --on-secondary: #000000;
  --surface-highlight: #2e2e2e;
  --warning: #ff8370;
  --valid: #7dcfb6;
  --spinner-main: #ffffff66;
  --br: 7px;
}
