

:root {
    --background: #121212;
    --surface: #1E1E1E;
    --primary: #AF85FF;
    --secondary: #7DCFB6;
    --on-background: #D7D7D7;
    --on-surface: #E2E2E2;
    --on-primary: #0E0915;
    --on-secondary: #000000;
    --surface-highlight: #2E2E2E;
    --warning: #FF8370;
    --valid: #7DCFB6;
    --spinner-main: #FFFFFF66;
    --br: 7px;
}